body { margin-top: 55px; margin-bottom: 5px; }
#close { margin-top: 500px; text-align: center; }
#reply { width: 100%; }
.right-col { text-align: right; }
.author-col { text-align: right; overflow: hidden; }
.content-col { word-wrap: break-word; }
.content-col img { max-width:100%; height:auto; }
.content-table { table-layout: fixed; }
.content-table > tbody > tr > td { border: none; }
h1 { padding-left: 10px; }
ul#archives { padding: 0 0 0 10px; list-style: none; }
ul#archives li { margin-bottom: 25px; }
ul#archives li .btn { width: 100%; padding-top: 10px; padding-bottom: 10px; }
#close .btn { width: 100%; padding-top: 10px; padding-bottom: 10px; }
