# Place this in .irssi/server-irc-notifier.cfg
[notifier]
idle = 60
poll_interval = 1.0
notifier = email
title = <YOUR-TITLE-OVERRIDE-HERE>

[reply]
secret = <YOUR-SECRET-HERE>
server = <YOUR-IRC-SERVER-PUBLIC-IP>

[email]
smtp_host = <YOUR-SMTP-HOST-HERE>
smtp_password = <YOUR-PASSWORD-HERE>
smtp_user = <YOUR-USERNAME-HERE>
from_email = <YOUR-EMAIL-HERE>
to_email = <YOUR-SMS-EMAIL-GATEWAY-ADDRESS-HERE>
# Set to 1 to output SMTP debugging info
debuglevel = 0

[pushover]
user_api_key = <YOUR-PUSHOVER-USER-API-KEY-HERE>
app_token = <YOUR-PUSHOVER-APP-TOKEN-HERE>

[web]
detect_links = true
links_in_new_window = true
disable_autocapitalize = true
disable_autocorrect = false
inline_images = true
