<table class="table table-condensed content-table">
<tbody>
{% set prev_author = None %}
{% for author, msg_type, text in lines %}
    <tr
        {% if msg_type == 'hilight' %}
            class="success"
        {% endif %}
    >
        <td class="col-md-1 col-sm-2 col-xs-3 author-col">
            {% if prev_author != author %}
                <span class="label label-{{ author_labels[author] }}">
                {{ author }}
                </span>
            {% endif %}
        </td>
        <td class="col-md-11 col-sm-10 col-xs-9 content-col">
            {% if msg_type == 'action' %}
                <em>
            {% endif %}
            {{ text|safe }}
            {% if msg_type == 'action' %}
                </em>
            {% endif %}
        </td>
    </tr>
    {% set prev_author = author %}
{% endfor %}
</tbody>
</table>
