{% for line_id, author, msg_type, text in lines %}
    <tr id="line-{{ line_id }}"
        {% if msg_type == 'hilight' %}
            class="success"
        {% endif %}
    >
        <td class="col-lg-1 col-md-2 col-sm-2 col-xs-3 author-col">
            {% if author %}
                <span class="label label-{{ author_labels[author] }}">
                {{ author }}
                </span>
            {% endif %}
        </td>
        <td class="col-lg-11 col-md-10 col-sm-10 col-xs-9 content-col">
            {% if msg_type == 'action' %}
                <em>
            {% endif %}
            {{ text|safe }}
            {% if msg_type == 'action' %}
                </em>
            {% endif %}
        </td>
    </tr>
{% endfor %}
