{% extends '_layout.html' %}

{% block title %}
{{ target }}
{% endblock title %}

{% block head %}
{% endblock head %}

{% block brand %}
	<a class="navbar-brand" href="{{ url_for('channel_settings', network=network, target=target, secret=secret) }}">
		<span class="glyphicon glyphicon-cog"></span>
		{{ target }}
	</a>
	<a id="scroll-to-bottom" class="navbar-brand" href="javascript:void(0);" onclick="scrollToBottom();">
		<span class="glyphicon glyphicon-menu-down"></span>
	</a>
{% endblock brand %}

{% block body %}
{% if date %}
	<h1>{{ date|title }}</h1>
{% endif %}
<div id="channel-content">
	<table class="table table-condensed content-table">
	<tbody>
		{% include '_content.html' %}
	</tbody>
	</table>
</div>

{% if not archive %}
	<form id="reply-form" method="post">
		<div class="col-xs-12">
			<input id="reply" class="form-control" type="text" name="reply"
				placeholder="Type reply here..."
				autocorrect="{{ 'off' if disable_autocorrect else '' }}"
				autocapitalize="{{ 'none' if disable_autocapitalize else ''}}">
		</div>
	</form>
{% endif %}
{% endblock body %}


{% block javascript %}
	<script type="application/javascript">

	$(document).ready(
		function() {
			{% if not archive %}
				scrollToBottom();

				var grabUrlTemplate = "{{ url_for('channel_ajax', network=network, target=target, after='AFTER_LINE', secret=secret, _external=True)|safe }}";
				var afterReplaceStr = 'AFTER_LINE';

				{% if poll_interval_ms > 0 %}
					pollForNewChannelContent(grabUrlTemplate, afterReplaceStr, {{ poll_interval_ms }});
				{% endif %}

				var submitUrl = "{{ url_for('channel_ajax', network=network, target=target, secret=secret, _external=True)|safe }}";

				submitReplyAjax(submitUrl, grabUrlTemplate, afterReplaceStr);
			{% endif %}

			resizeVideoIframes({{ video_max_width }}, {{ video_max_height }});
		}
	);
	</script>
{% endblock javascript %}
