{% extends '_layout.html' %}

{% block title %}
{{ target }}
{% endblock title %}

{% block head %}
{% endblock head %}

{% block brand %}
    <a class="navbar-brand" href="{{ url_for('channel', network=network, target=target, secret=secret) }}">{{ target }}</a>
{% endblock brand %}

{% block body %}
{% if date %}
	<h1>{{ date|title }}</h1>
{% endif %}
<div id="channel-content">
	<table class="table table-condensed content-table">
	<tbody>
		{% include '_content.html' %}
	</tbody>
	</table>
</div>

{% if not archive %}
	<form method="post">
		<div class="col-md-11 col-sm-11 col-xs-9">
			<input id="reply" class="form-control" type="text" name="reply"
				placeholder="Type reply here..."
				autocorrect="{{ 'off' if disable_autocorrect else '' }}"
				autocapitalize="{{ 'none' if disable_autocapitalize else ''}}">
			</div>
		<div class="right-col col-md-1 col-sm-1 col-xs-1">
			<button type="submit" class="btn btn-success">
				<span class="glyphicon glyphicon-send"></span>
			</button>
		</div>
	</form>

	<form id="close" class="form-inline" method="post" action="{{ url_for('close_channel', network=network, target=target, secret=secret) }}" onsubmit="return confirm('Are you sure?')">
		<button type="submit" class="btn btn-danger">
			Close
		</button>
	</form>
{% endif %}
{% endblock body %}


{% block javascript %}
	{% if not archive %}
		<script type="application/javascript">

		$(document).ready(
			function() {
				// Autoscroll down to reply button, and then go a little further to
				// account for iPhone's bottom toolbar
				window.scrollTo(0, $("#reply").offset().top - $(window).height() + 50);
				{% if poll_interval_ms > 0 %}
					setInterval(function() {
						var after = $(".content-table tr:last").attr('id').replace('line-', '');
						var urlTemplate = "{{ url_for('channel_ajax', network=network, target=target, after='AFTER_LINE', secret=secret, _external=True)|safe }}";
						$.ajax({
							url: urlTemplate.replace('AFTER_LINE', after),
							cache: false
						}).done(function(html) { $(".content-table tr:last").after(html) });
					}, {{ poll_interval_ms }});
				{% endif %}
			}
		);
		</script>
	{% endif %}
{% endblock javascript %}
