{% extends '_layout.html' %}

{% block title %}
{{ target }}
{% endblock title %}

{% block head %}
{% endblock head %}

{% block brand %}
    <a class="navbar-brand" href="{{ url_for('channel', network=network, target=target, secret=secret) }}">
    <span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;{{ target }}
    </a>
{% endblock brand %}

{% block body %}
<div id="channel-content">
{% include '_content.html' %}
</div>

<form class="form-inline" method="post">
	<div class="form-group">
        <div class="col-xs-10">
            <input id="reply" class="form-control" type="text" name="reply" placeholder="Type reply here...">
        </div>
        <div class="col-xs-2">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-send"></span>
            </button>
        </div>
	</div>
</form>

<form id="close" class="form-inline" method="post" action="{{ url_for('close_channel', network=network, target=target, secret=secret) }}" onsubmit="return confirm('Are you sure?')">
    <button type="submit" class="btn btn-danger">
        Close
    </button>
</form>
{% endblock body %}


{% block javascript %}
<script type="application/javascript">

$(document).ready(
	function() {
        // Autoscroll down to reply button, and then go a little further to
        // account for iPhone's bottom toolbar
        window.scrollTo(0, $("#reply").offset().top - $(window).height() + 50);
        setInterval(function() {
            $.ajax({
                url: "{{ url_for('channel_ajax', network=network, target=target, secret=secret, _external=True) }}",
                cache: false
            }).done(function(html) { $("#channel-content").html(html); });
        }, 5000);
	}
);
</script>
{% endblock javascript %}
